.header {
    padding: 2rem;
}

h3 {
    font-size: 25px;

}

.block {
    padding: 2rem;
}

.equal-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin: 10px 0;
}

@media (max-width: 576px) {
    .row > [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 1000px) {
    .row > [class*="col-"] {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .row > [class*="col-"] {
        flex: 0 0 33%;
        max-width: 33%;
    }
}


.image-wrapper {
    position: relative;
    cursor: pointer;
}

.img-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-wrapper:hover .img-overlay {
    opacity: 1;
}