/* Media card title */
h3 {
    font-size: 25px;

}

/* Media block */
.block {
    padding: 2rem;
}

/* Equal image sizing */
.equal-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin: 10px 0;
}

/* Stack columns on small screens */
@media (max-width: 576px) {
    .row > [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Stack columns on tablets */
@media (max-width: 768px) {
    .row > [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
